IMAGE=agutcan/anteproyecto:latest

# Estas las usan la base de datos postgres
POSTGRES_DB=django_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=db


# Puedes generarla con
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=

# Estas las usan mailpit
MP_MAX_MESSAGES=5000
MP_DATABASE=/data/mailpit.db
MP_SMTP_AUTH_ACCEPT_ANY=1
MP_SMTP_AUTH_ALLOW_INSECURE=1

# Estas las usan web
DEBUG=True
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}"
EMAIL_HOST=mailpit
EMAIL_PORT=1025

# Estas las usa celery
CELERY_BROKER_URL=redis://redis:6379/0

