IMAGE=agutcan/anteproyecto:latest

# Estas las usan la base de datos postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

SECRET_KEY=

# Estas las usan mailpit
MP_MAX_MESSAGES=5000
MP_DATABASE=/data/mailpit.db
MP_SMTP_AUTH_ACCEPT_ANY=1
MP_SMTP_AUTH_ALLOW_INSECURE=1

# Estas las usan web
DEBUG=True
DATABASE_URL=postgres://postgres:password@/django_db
EMAIL_HOST=mailpit
EMAIL_PORT=1025

# Estas las usa celery
CELERY_BROKER_URL=redis://redis:6379/0

