<!-- Navbar -->
{% load static %}

    <link rel="stylesheet" href="{% static 'css/header.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'web:indexView' %}">
            <img src="{% static 'images/favicon.png' %}" alt="Logo" class="img-fluid rounded" style="height: 40px;"> <span class="text-warning">Arena</span>GG
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'web:indexView' %}active{% endif %}" href="{% url 'web:indexView' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'web:tournamentListView' %}active{% endif %}" href="{% url 'web:tournamentListView' %}">Torneos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'web:rankingView' %}active{% endif %}" href="{% url 'web:rankingView' %}">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'web:gameListView' %}active{% endif %}" href="{% url 'web:gameListView' %}">Juegos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'web:howItWorkView' %}active{% endif %}" href="{% url 'web:howItWorkView' %}">Cómo funciona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'web:rewardListView' %}active{% endif %}" href="{% url 'web:rewardListView' %}">Premios</a>
                </li>

                {% if user.is_authenticated %}
                    <!-- Dropdown de usuario -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Imagen de usuario (si existe) -->
                            {% if request.user.player.avatar %}
                                <img src="{{ request.user.player.avatar.url }}" alt="Foto de perfil" class="rounded-circle" style="width: 30px; height: 30px;">
                            {% else %}
                                <i class="fas fa-user" style="font-size: 30px;"></i> <!-- Icono de usuario -->
                            {% endif %}
                            <span class="text-warning">{{ user.username }}</span>
                            <!-- Badge con monedas -->
                            <span class="badge bg-warning text-dark ms-1"><i class="bi bi-trophy "></i>{{ request.user.player.coins|default:0 }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="navbarDropdown" style="border-radius: 8px; background-color: #343a40;">
                            <li><a class="dropdown-item {% if request.resolver_match.view_name == 'web:playerProfileDetailView' %}active{% endif %}" href="{% url 'web:playerProfileDetailView' request.user.player.id %}">Perfil</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.view_name == 'web:myTournamentListView' %}active{% endif %}" href="{% url 'web:myTournamentListView' request.user.player.id %}">Mis torneos</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.view_name == 'web:playerTeamDetailView' %}active{% endif %}" href="{% url 'web:playerTeamDetailView' request.user.player.id %}">Mi equipo</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.view_name == 'web:redemptionListView' %}active{% endif %}" href="{% url 'web:redemptionListView' request.user.player.id %}">Mis recompensas</a></li>
                            <li><form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="submit" value="Cerrar sesión" class="dropdown-item ">
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Si no está autenticado, mostrar los botones de login y register -->
                    <li class="nav-item ms-lg-3">
                        <a class="btn btn-outline-warning mb-1" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="btn btn-primary" href="{% url 'web:register' %}">Registrarse</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

    <script src="{% static 'js/header.js' %}"></script>



