.accordion-item {
    background-color: rgba(30, 41, 59, 0.7);
    border: 1px solid #ffc107;
    border-radius: 5px;
}

.accordion-button {
    background-color: rgba(0, 0, 0, 0.2);
}

.accordion-button:not(.collapsed) {
    background-color: rgba(255, 193, 7, 0.1);
    color: #ffc107;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #ffc107;
}


.category-title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background: #ffc107;
    bottom: 0;
    left: 0;
}

.main-title:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background: #ffc107;
}