.footer-links a {
    /* Aplica una transición suave a todas las propiedades para los enlaces del pie de página */
    transition: all 0.3s ease;
    color: darkgray;
}

.footer-links a:hover {
    color: #0d6efd;
    /* Al pasar el mouse, agrega un pequeño desplazamiento hacia la derecha */
    padding-left: 5px;
}


.placeholder-white::placeholder {
    /* Establece el color del texto del placeholder a gris oscuro y usa !important para asegurarse de que se aplique */
    color: darkgray !important;
}


.footer {
    /* Establece un fondo muy oscuro para el pie de página */
    background: #0a0a0a;
}

.social-icons a {
    /* Define el tamaño de los íconos sociales */
    width: 40px;
    height: 40px;

    /* Fondo semitransparente claro para los íconos */
    background: rgba(255, 255, 255, 0.05);

    /* Hace que el fondo tenga forma circular */
    border-radius: 50%;

    /* Transición suave para cambios de estilo */
    transition: all 0.3s ease;
}

.social-icons a:hover {
    /* Cambia el fondo a un tono naranja intenso al hacer hover */
    background: #ffab00;

    /* Cambia el color del ícono a negro */
    color: #000;

    /* Aplica una ligera elevación hacia arriba al pasar el mouse */
    transform: translateY(-3px);
}
