input, select, textarea {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    border: 1px solid #444 !important;
}

input:focus, select:focus, textarea:focus {
    border-color: #ffc107 !important;
    box-shadow: none !important;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
::placeholder {
    color: white !important;
    opacity: 1; /* Opcional, para evitar transparencia */
}