.section-title:after {
    /* Línea decorativa debajo del título */
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    background: linear-gradient(90deg, #ffc107, transparent);
    bottom: -15px;
    left: 0;
    border-radius: 2px;
}

.list-group-item {
    /* Aplica una transición suave a la transformación para los ítems de la lista */
    transition: transform 0.2s ease;
}

.list-group-item:hover {
    /* Desplaza ligeramente el ítem hacia la derecha al pasar el mouse */
    transform: translateX(5px);

    /* Cambia el color de fondo a un dorado muy suave, asegurado con !important */
    background-color: rgba(255, 193, 7, 0.05) !important;
}
