:root {
    /* Variables CSS para mantener consistencia en colores */
    --gold: #ffc107;
    --card-bg: rgba(30, 41, 59, 0.7);
}

::placeholder {
    /* Establece el color del texto del placeholder a gris oscuro y usa !important para asegurarse de que se aplique */
    color: darkgray !important;
    opacity: 1; /* Opcional, para evitar transparencia */
}

.empty-state {
    /* Fondo semitransparente y borde punteado para estado vacío */
    background: var(--card-bg);
    border: 1px dashed var(--gold);
    border-radius: 8px;

}

.empty-state p {
    /* Texto gris claro para mensajes en estado vacío */
    color: #adb5bd;
}

.section-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 3px;
    background: #ffc107;
}

/* Estilos existentes */
.btn-hover:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.tournament-card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.border-opacity-25 {
    border-color: rgba(255, 193, 7, 0.25) !important;
}

