{% extends 'base.html' %}
{% block title %}Game / ArenaGG{% endblock %}
{% block content %}
    <h1>Game</h1>
    <li>{{ game.genre }}</li>
    <li>{{ game.created_at }}</li>
    <li>{{ game.name }}</li>
    <li><img src="{{ game.image.url }}" class="game-image" alt="{{ game.name }}" style="height: 32px; width: 32px "> {{ game.name }}</li>
    {% for t in game.tournament_set.all %}
        <li><a href="{% url 'web:tournamentDetailView' t.id %}">{{ t.name }}</a></li>
    {% endfor %}
{% endblock %}